/* Colour Palette
#050606 - Jet Black
#FDFDFD - White
#D8D7D5 - Pewter
#ADB3BC - Misty Blue
*/

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lateef:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Anton", sans-serif;
    --tertiary-font: "Playfair Display", sans-serif;
    --quartary-font: "Lateef", sans-serif;
    --primary-color: #050606; /*Jet Black*/
    --secondary-color: #FDFDFD; /*White*/
    --tertiary-color: #D8D7D5; /*Pewter*/
    --quartary-color: #ADB3BC; /*Misty Blue*/
}

/* Global Styles */

/* Body Global Styles */
body {
    padding-top: 57px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar Global Styles */
nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--tertiary-font);
}

/* Header Global Styles */
header {
    background-color: var(--tertiary-color);
}

/* Headings Global Style */
h1, h2, h3 {
    font-family: var(--secondary-font);
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Make h4-h6 headings not uppercase */
h4, h5, h6 {
    font-family: var(--secondary-font);
    letter-spacing: 2px;
}

/* Main Global Styles */
main {
    /* expand main section to push footer to bottom */
    flex-grow: 1; 
    flex-shrink: 0; 
    flex-basis: auto;
    /* Background Colour */
    background-color: var(--quartary-color);
}

/* Footer Global */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px;
}

/* Main Background Alternate */
.background-alternate {
    background-color: var(--tertiary-color);
    width: 100%;
}

/* Navbar indicates what page user is on */
.current {
border-bottom: 2px solid var(--secondary-color);
}

/* Socials Links */
#contact .social-links i {
    color: var(--secondary-color);
    font-size: 250%;
    padding-bottom: 15px;
    list-style-type: none;
}

#contact .social-links i:hover {
    color: var(--quartary-color);
}

#contact .social-links .spacing {
    margin: 0px 15px;
}

/* Adjusting Card */
.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 18rem;
    background-color: var(--tertiary-color);
}

/* Adjusting Card to have sharp corners */
.sharp-corners, .sharp-corners * {
    border-radius: 0;
}

/* Buttons */
/* Footer / Contact Button */
#contact .outline-button {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
}

#contact .outline-button:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
}

/* Buttons not in footer */
.custom-button {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 10px 20px;
}

.custom-button:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px 20px;
}

/* Making Icon Bigger at top of page */
.icon-big-l, .icon-big-r {
    font-size: 200%;
}

/* Price Points Table Backgrounds and Width */
#camera-bodies .table * {
    background-color: var(--tertiary-color);
    max-width: 320px;
}

#camera-lenses .table * {
    background-color: var(--quartary-color);
    max-width: 320px;
}

/* Alternate hyperlink colour text on camera lenses table */
#camera-lenses .hyperlink a {
    color: #2D0070;
}

/* Media Query for Tablet (768px) */
@media screen and (min-width: 768px) {
    /* Adjusting Card */
    .card {
        width: 35rem;
    }
}

/* Media Query for Laptop (992px) */
@media screen and (min-width: 992px) {
    .equipmentp {
        padding-top: 32px;
    }

    /* Icon adjusted left and right at top of page */
    .icon-big-l {
        padding-left: 115px;
    }

    .icon-big-r {
        padding-right: 115px;
    }
    /* Adjusting Card */
    .card {
        width: 18rem;
    }

    /* Adjusting Card Img */
    .card-img-top {
        min-height: 215px;
    }
}

/* Media Query for Desktop (1200px) */
@media screen and (min-width: 1200px) {
    .homep {
        font-size: 120%;
    }

    .historyp {
        font-size: 120%;
    }

    .equipmentp {
        font-size: 120%;
    }

    .tutorialp {
        font-size: 120%;
    }

    /* Icon adjusted left and right at top of page */
    .icon-big-l {
        padding-left: 175px;
    }

    .icon-big-r {
        padding-right: 175px;
    }

    /* Adjusting Card */
    .card {
        width: 22rem;
    }

    /* Adjusting Card Img */
    .card-img-top {
        min-height: 265px;
    }
}

/* Media Query for Largest Screens (1400px) */
@media screen and (min-width: 1400px) {
    .homep {
        padding-top: 35px;
    }

    .historyp {
        padding-top: 58px;
    }

    .equipmentp {
        padding-top: 89px;
    }

    .tutorialp {
        padding-top: 35px;
    }

    /* Adjusting Card */
    .card {
        width: 25rem;
    }

    /* Adjusting Card Img */
    .card-img-top {
        min-height: 299px;
    }

    /* Adjusting card body to be same height */
    /* Adjusting Card Img */
    .card-text {
        min-height: 96px;
    }
}